@media screen and (max-width : 500px) {
    .img-50-50 {
        width: 50%;
        height: 50%;
    }

    .img-50 {
        width: 50%;
    }

    .img-30 {
        width: 30%;
    }

    .font-2vw {
        font-size: 2vw;
    }

    .font-2-halfvw {
        font-size: 2.5vw;
    }

    .font-3vw {
        font-size: 3vw;
    }
}

@media screen and (min-width : 500px) {
    .img-50-50 {
        width: 100%;
        height: 100%;
    }

    .img-50 {
        width: 100%;
    }

    .img-30 {
        width: 100%;
    }

    .img-70 {
        width: 100%;
    }
}

/* font */
.color-semiBlack {
    color: rgb(62, 60, 60);
}

.color-white {
    color: white;
}

.w_15rem {
    width: 15rem;
}

.w_16rem {
    width: 16rem;
}

.w_12rem {
    width: 12rem;
}

.w_11rem {
    width: 11rem;
}

.center {
    align-items: center;
    text-align: center;
}

.center2 {
    margin-top: auto;
    margin-bottom: auto;
}

.right {
    align-items: right;
    text-align: right;
}

.left {
    align-items: left;
    text-align: left;
}


/* padding margin */
.mb-20px {
    margin-bottom: 20px;
}

.mt-100px {
    margin-top: 100px;
}

.mt-70px {
    margin-top: 70px;
}

.mt-50px {
    margin-top: 50px;
}

.mt-mb-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.mg-center {
    margin-right: auto;
    margin-left: auto;
}

.pb-20px {
    padding-bottom: 20px;
}

.pb-10px {
    padding-bottom: 10px;
}

/* create radio button on image */
/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

    /* IMAGE STYLES */
    [type=radio] + img {
        cursor: pointer;
    }

    /* CHECKED STYLES */
    [type=radio]:checked + img {
        outline: 2px solid #f00;
    }
/* end */


/* image */
.img-blur {
    filter: blur(2px);
    -webkit-filter: blur(2px);
}


/* hr */
.hr-white {
    border-top: 1px solid gray;
}


/* color */

.bg-gray {
    background-color: rgba(145, 145, 145, 0.483);
}

/* dowone awak */

.w-18rem {
    width: 18rem;
}

@media screen and (max-width : 400px) {
    .w-15rem {
        width: 15.5rem;
    }
}

@media screen and (min-width : 500) {
}
